@model RccgChildrenManagement.Models.User;


@{
    ViewData["Title"] = "User Page";
    Layout = "~/Views/Shared/LayoutNew.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<div class="container row reg-panel">
    <div class="col-md-4">
        <div id="center">
            <div>
                <img style="width: 20rem; transition: width 2s" src="~/images/Rccg.png" alt="RCCG Logo">

            </div>

            <h1>Children Church</h1>
            <p>Register your kids for church</p>
        </div>

        <div style="background-color: none; color: white;  margin-top: 18rem">
            <p style="font-style: italic;">Jesus Christ the same yesterday, today, and forever more. Amen</p>
        </div>
    </div>
    <div class="col-xl-8" style="border: 1px;" solid #ccc; padding-top: 1rem; width="xl: 1340px;">

        <h2>RCCG GWC Children Church Registration</h2>
        <p><b>Note:</b> You have to set a responsible party (last section) for drop off and pickup</p>
        <hr>
        <h2>Edit Parent</h2>
        @using (@Html.BeginForm("Edit", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(model => model.UserId)
            <div class="form-group row" style="margin-top:40px;">
                <div class="col-md-6">
                    <label style="font-size:35px" id="FirstName-Label" class="control-label col-sm-3">FirstName</label><br />
                    <input class="form-control inputstl" style="width: 340px; font-size: 35px; height:65px;" asp-for="FirstName" name="FirstName" id="FirstName" type="text" required placeholder="enter your FirstName" class="form-control" />

                    <label style="font-size: 35px" id="LastName-Label" class="control-label col-sm-3">LastName</label><br />
                    <input class="form-control inputstl" style="width: 340px; font-size: 35px; height: 65px;" asp-for="LastName" name="LastName" id="LastName" type="text" required placeholder="enter your LastName" class="form-control" />

                    <label style="font-size: 35px" id="Address-Label" class="control-label col-sm-3">Address</label><br />
                    <input class="form-control inputstl" style="width: 340px; font-size: 35px; height: 65px;" asp-for="Address" name="Address" id="Address" type="text" required placeholder="enter your Address" class="form-control" />

                    <label style="font-size: 35px" id="PhoneNo-Label" class="control-label col-sm-3">PhoneNo</label><br />
                    <input class="form-control inputstl" style="width: 340px; font-size: 35px; height: 65px;" asp-for="PhoneNo" name="PhoneNo" id="PhoneNo" type="text" required placeholder="enter your PhoneNo" class="form-control" />
                </div>

                <div class="col-md-6">
                    <label style="font-size: 35px" asp-for="EmailAddress" id="EmailAddress-Label" class="control-label col-sm-3"></label><br />
                    <input class="form-control inputstl" style="width: 340px; font-size: 35px; height: 65px;" asp-for="EmailAddress" name="EmailAddress" id="EmailAddress" type="text" required placeholder="enter your EmailAddress" class="form-control" />
                    <label style="font-size: 35px" asp-for="Password" id="Password-Label" class="control-label col-sm-3"></label><br />
                    <input class="form-control inputstl" style="width: 340px; font-size: 35px; height: 65px;" asp-for="Password" name="Password" id="Password" type="text" required placeholder="enter your Password" class="form-control" />
                    <label style="font-size: 35px" asp-for="Member_Visitor" id="Member_Visitor-Label" class="control-label col-sm-3"></label><br />
                    <input class="form-control inputstl" style="width: 340px; font-size: 35px; height: 65px;" asp-for="Member_Visitor" name="Member_Visitor" id="Member_Visitor" type="text" required placeholder="enter your Member_Visitor" class="form-control" />
                    <label style="font-size: 35px" asp-for="Kidnumber" id="RoleId-Label" class="control-label col-sm-3"></label><br />
                    <input class="form-control inputstl" style="width: 340px; font-size: 35px; height: 65px;" asp-for="Kidnumber" name="Kidnumber" id="Kidnumber" type="text" required placeholder="enter your Kidnumber" class="form-control" />
                    <br />
                </div>
            </div>
            <hr size="30">


            <div style="text-align: center; margin-bottom: 2rem; margin-top: 2rem;">
                <button class="btn btn-lg btn-success btn-block mt-5" type="submit" style="width:77%; margin-top:5%; margin-left:10%;">Edit</button>

            </div>

        }
    </div>
</div>
<style>
    .inputstl {
        padding: 9px;
        border: solid 1px #0077B0;
        outline: 0;
        background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #C6ECFF), to(#FFFFFF));
        background: -moz-linear-gradient(top, #FFFFFF, #C6ECFF 1px, #FFFFFF 25px);
        box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
        -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
        -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    }
</style>



<script type="text/javascript">
@if (TempData["status"] != null)
{
    <text>alert('User Updated Successfully'); </text>
}

</script>
