@model RccgChildrenManagement.Models.Children;


@{
    ViewData["Title"] = "Children Page";
    Layout = "~/Views/Shared/LayoutNew.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<div class="container row reg-panel">
    <div class="col-md-4">
        <div id="center">
            <div>
                <img style="width: 20rem; transition: width 2s" src="~/images/Rccg.png" alt="RCCG Logo">

            </div>

            
        </div>

        <div style="background-color: none; color: white;  margin-top: 18rem">
           
        </div>
    </div>
    <div class="col-xl-8" style="border: 1px;" solid #ccc; padding-top: 1rem; width="xl: 1340px;">

        <h2>RCCG GWC Children Church Registration</h2>
        <p><b>Note:</b> You have to set a responsible party (last section) for drop off and pickup</p>
        <hr>
        <h2>Edit Children </h2>
        @using (@Html.BeginForm("Edit", "Children", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(model => model.ChildrenId)
            <div class="form-group row" style="margin-top:40px;">
                <div class="col-md-6">
                    
                   
                    <label style="font-size: 35px" id="ChildFirstName-Label" class="control-label col-sm-3">ChildFirstName</label><br />
                    <input class="form-control inputstl" style="width: 340px; font-size: 35px; height: 65px;" asp-for="ChildFirstName" name="ChildFirstName" id="ChildFirstName" type="text" required placeholder="enter your ChildFirstName" class="form-control" />


                    <label style="font-size: 35px" id="LastName-Label" class="control-label col-sm-3">ChildLastName</label><br />
                    <input class="form-control inputstl" style="width: 340px; font-size: 35px; height: 65px;" asp-for="ChildLastName" name="ChildLastName" id="ChildLastName" type="text" required placeholder="enter your ChildLastName" class="form-control" />

                   
                </div>

                <div class="col-md-6">
                    <label style="font-size: 35px" asp-for="DOB" id="DOB-Label" class="control-label col-sm-3">DOB</label><br />
                    <input class="form-control inputstl" style="width: 340px; font-size: 35px; height: 65px;" asp-for="DOB" name="DOB" id="DOB" type="text" required placeholder="enter your DOB" class="form-control" />
                    <label style="font-size: 35px" asp-for="Class" id="Class-Label" class="control-label col-sm-3">Class</label><br />
                    <input class="form-control inputstl" style="width: 340px; font-size: 35px; height: 65px;" asp-for="Class" name="Class" id="Class" type="text" required placeholder="enter your Class" class="form-control" />
                   
                    <br />
                </div>
            </div>
            <hr size="30">


            <div style="text-align: center; margin-bottom: 2rem; margin-top: 2rem;">
                <button class="btn btn-lg btn-success btn-block mt-5" type="submit" style="width:77%; margin-top:5%; margin-left:10%;">Edit</button>

            </div>

        }
    </div>
</div>
<style>
    .inputstl {
        padding: 9px;
        border: solid 1px #0077B0;
        outline: 0;
        background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #C6ECFF), to(#FFFFFF));
        background: -moz-linear-gradient(top, #FFFFFF, #C6ECFF 1px, #FFFFFF 25px);
        box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
        -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
        -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    }
</style>



<script type="text/javascript">
@if (TempData["status"] != null)
{
    <text>alert('Children Updated Successfully'); </text>
}

</script>
